<div class="navbar navbar-fixed-bottom" id="footer">

  <span id="github">
    <%= link_to 'Source', 'http://www.github.com/artfuldodger/vulgarities' %>
  </span>

  |

  <span id="api">
    <%= link_to 'API', apis_path %>
  </span>

  |

  <span id="copyright">
    Copyright &copy; 2012 <%= link_to 'Detestable Us', 'http://detestable.us' %>
  </span>

</div>

<%= render 'shared/ga' %>
