<div class="hero-unit">
  <p>Add ?letter=c to limit by letter</p>
  <p>Want some <%= link_to 'json', vulgarities_path(format: :json) %>?</p>
  <p>Want some <%= link_to 'xml', vulgarities_path(format: :xml) %>?</p>
</div>
